@font-face {
    font-family: microgbe;
    src: url('./assets/microgbe.woff');
    font-weight: bold;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url('./layout/title-page-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    background-position: 50% 50%;
}

header.lipa {
    background-image: url('./layout/title-page-background1.jpg');
}

.margin-auto {
    margin: 0 auto;
}

.anchor {
    position: relative;
    top: -60px;
}

.font-micro {
    font-family: microgbe !important;
    text-transform: uppercase;
}

.logo {
    min-width: 200px;
    max-width: 400px;
}

.logo a {
    display: inline-block;
    min-width: 200px;
    width: 100%;
}

.logo a>img {
    width: 100%;
    height: auto;
}

.main-menu-item {
    font-family: microgbe;
    text-transform: uppercase;
    font-size: 1.5em;
}

.main-menu-item a {
    color: black;
}

.main-menu-item a:hover {
    text-decoration: none;
    color: #b0ca1e;
}

.navigation-scroll {
    width: 100%;
    position: absolute;
    top: 90vh;
    text-align: center;
    font-size: 25px;
}

.arrow {
    border: solid black;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 8px;
}

.arrow:hover {
    border-color: #b0ca1e;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.title-card {
    bottom: 0;
    right: 0;
}

.title-card div {
    background-color: #b0ca1e;
    border-radius: 2rem;
    font-family: microgbe;
    font-size: 1.2em;
}

.title-card h3 {
    font-size: 1.0em;
}

.navbar-nav a {
    font-family: microgbe;
    text-transform: uppercase;
    color: white;
    font-size: 1.2em;
    margin-right: 40px;
}

.prices th,
.prices td {
    text-align: center;
}

#map_container {
    max-height: 300px;
    height: 60vh;
}

.bg-green {
    background: #b0ca1e !important;
    flex-basis: 100%
}

.text-dark {
    color: #343a40;
}

.w-40 {
    width: 40%;
}

.img-w-60 {
    width: 100%;
}

.map-directions {
    background-image: url(layout/map-directions.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 280px;
    min-width: 250px;
    margin: 0 auto;
}

.map-google {
    height: auto;
    min-height: 320px;
}

.list-checked {
    list-style-image: url(layout/tick-dark.png);
}

.gallery img {
    max-width: 300px;
}

.contact {
    display: block;
    background-size: auto 75%;
    background-repeat: no-repeat;
    color: #343a40;
    line-height: 30px;
    font-size: large;
    text-align: center;
    border: 1px solid lightgrey;
    padding: 5px;
}

.contact:hover {
    text-decoration: none;
    background-color: lightgrey;
    color: #343a40;
}

.contact.phone {
    background-position: 99% 50%;
    background-image: url('layout/icon-phone.svg');
    padding-right: 50px;
}

.contact.email {
    background-position: 3% 50%;
    background-image: url('layout/icon-email.svg');
    padding-left: 50px;
}

@media (min-width: 576px) {
    .img-w-60 {
        width: 60%;
    }
    .contact {
        font-size: x-large;
        line-height: 70px;
    }
}

@media (min-width: 992px) {
    .w-lg-50 {
        width: 50% !important;
    }
}