.overlay-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container-fluid .row:nth-child(even) {
    background-color: #f3f3f3;
}

.thumbnail {
    width: 180px;
    height: 103px;
    position: relative;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    display: block;
}

.thumbnail img:hover {
    cursor: pointer;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 123, 255, 0.4);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .2s ease;
}

.notactive.overlay {
    bottom: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

.notactive.overlay:not(:hover) .button-remove {
    display: none;
}

.overlay button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.thumbnail:hover .overlay:not(.no-transition) {
    bottom: 0;
    height: 45%;
}

.no-transition.overlay {
    bottom: 0;
    height: 100%;
}

.drop {
    width: 10px;
    margin: 0 3px 0 3px;
    height: 103px;
}

.drop.hover {
    padding-right: 30px;
    background: rgba(0, 123, 255, 0.4);
}

.button-control {
    height: 40px;
    width: 40px;
    border: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 50%;
    font-size: 22px;
}

.button-add {
    color: #fff;
    background-color: #007bff;
}

.button-add:hover {
    background-color: #007b88;
}

.button-remove {
    height: 30px;
    width: 30px;
    font-size: 17px;
    padding-bottom: 3px;
    color: #fff;
    background-color: #ff1a1a;
}

.button-remove:hover {
    background-color: #ff4d4d;
}

.thumbnail-animation {
    width: 110px;
}

.break {
    flex-basis: 100%;
    height: 0;
}